books{color:PowderBlue; background-color:LightSalmon; width:100%;}

heading{
color:SandyBrown; 
font-size:40px; 
background-color:IndianRed; 
}

heading,title,author,publisher{
display:block; 
}

title{
font-size:25px; 
font-weight:bold; 
}